<main>
	<p class="{m:20;mt:0;text:center}">DevCaminhante é um projeto dedicado ao acolhimento tanto para quem está pensando em entrar na área de programação
		como para quem está começando a aprender nesta área. Também recebe de braços abertos os devs mais experientes que
		querem compartilhar conhecimento e também aprender, estimulando o crescimento mútuo, sempre com a mentalidade que
		todos somos aprendizes. :)</p>

	<img	class="max-w:100vw max-h:100vh min-w:100vw"
				src="assets/dev-caminhante.svg"
				alt="O Dev Caminhante">
</main>
